<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
</head>
<body>
	{{#if production}}
	{{> tags }} {{! Google Tags. See https://www.google.com/tagmanager/}}
	{{/if}}
	<a class="sr-only" href="#content">Skip to main content</a>
	<!-- Subhead component -->
	{{> subhead }}
	<!-- Navigation component -->
	{{> nav-main }}

	<!-- Belt component -->
	{{> belt }}

	<!-- Main content -->
	<div class="container bs-docs-container" id="content">
		<div class="wordcount">
			<div class="wordcount-display">
				<span class="label-wordcount">&nbsp;words</span>,
				<span class="label-reading-time">&nbsp;to read</span>
			</div>
			{{> body }}
		</div>
	</div>

	<!-- Footer -->
	{{> footer }}

	<!-- JS and analytics only. -->
	{{> javascripts }}
</body>
</html>