<div class="belt">
  <div class="container">
    <strong>
      Need help? Visit the <a href="{{site.url.bugs}}">Issues on GitHub</a>. This is the belt. Edit in templates/includes/belt.hbs.
    </strong>
  </div>
</div>